<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>EDIT WINE</title>
    </head>
    <body>
        <h1>Wine Edit Page</h1>
        <form class="" action="/wines/<%= wine._id %>?_method=PUT" method="POST">
            <fieldset class="wine-notes">
                Name: <input type="text" name="name" value="<%= wine.name %>"><br>
                Type of Wine: <input type="text" name="type" value="<%= wine.type %>"><br>
                Brand/Vineyard: <input type="text" name="brand" value="<%= wine.brand %>"><br>
                Place of Origin (Country/Region): <input type="text" name="origin" value="<%= wine.origin %>"><br>
                Year: <input type="number" name="year" value="<%= wine.year %>"><br>
                Price: <input type="text" name="price" value="<%= wine.price %>"><br>
                Where you bought/tried it: <input type="text" name="boughtAt" value="<%= wine.boughtAt %>"><br>
            </fieldset>
            <fieldset class="tasting-notes">
                Number Bought/Tried: <input type="number" name="numberBought" value="<%= wine.numberBought %>" min=0><br>
                Color: <input type="text" name="color" value="<%= wine.color %>"><br>
                Flavor: <input type="text" name="flavor" value="<%= wine.flavor %>"><br>
                Aroma: <input type="text" name="aroma" value="<%= wine.aroma %>"><br>
                Finish: <input type="text" name="finish" value="<%= wine.finish %>"><br>
                Would you buy it again?
                    <input
                        type="checkbox"
                        name="buyAgain"
                        <% if (wine.buyAgain === true) {%>
                            checked
                        <%}%>
                        >
                        <br>
                Overall Rating: <input type="number" name="rating" value="<%= wine.rating %>" min=0 max=5><br>
                Comments: <textarea id="tasting-comments" name="comments" placeholder=""><%= wine.comments %></textarea>
            </fieldset>
            <input type="submit" value="Save Changes">
        </form>
        <form action="/wines/<%= wine._id %>?_method=DELETE" method="POST" >
            <input type="submit" name="" value="Delete Wine">
        </form>
    </body>
</html>
