<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <header>
            <% include ../partials/header.ejs %>
        </header>
        <div id="wine-index-background" class="background-img">
        </div>
        <div class="container">
            <h2><%=user.name%>'s Wine Journal:</h2>
            <h4>Contents</h4>
            <div class="row">
                <a class="waves-effect waves-light red darken-3 btn-large" href="/wines/new">Add new wine journal entry</a>
            </div>
            <% for (let i = 0; i < user.savedWines.length; i++) {%>
            <div class="row">
                <div class="col s12 m6">
                  <div class="card amber lighten-5">
                    <div class="card-content black-text">
                      <span class="card-title"><%= user.savedWines[i].name %></span>
                      <p>Type: <%= user.savedWines[i].type %></p>
                      <p>Rating: <%=user.savedWines[i].rating%></p>
                    </div>
                    <div class="card-action">
                        <a class="btn-floating btn-large waves-effect waves-light red" href="/wines/<%= user.savedWines[i]._id%>"><i class="material-icons">add</i></a>
                        <form action="/wines/<%= user.savedWines[i]._id %>?_method=DELETE" method="POST">
                            <button class="waves-effect waves-light red darken-3 btn-large" type="submit">Delete Entry</button>
                        </form>
                    </div>
                  </div>
                </div>
            </div>
            <%}%>
            <div class="">
            <a class="waves-effect waves-light red darken-3 btn-large" href="/">Back to Homepage</a>
            </div>
        </div>
    <% include ../partials/session_modals%>
    <% include ../partials/scripts.ejs %>
    </body>
</html>
