<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>WINES INDEX</title>
    </head>
    <body>
        <h1>App for User: Wines Index</h1>
        <a href="/wines/new">Add new wine journal entry</a>
        <% for (let i = 0; i < user.savedWines.length; i++) {%>
            <h4>Name: <%= user.savedWines[i].name %></h4>
            <p>Type: <%= user.savedWines[i].type %></p>
            <p>Rating: <%=user.savedWines[i].rating%></p>
            <a href="/wines/<%= user.savedWines[i]._id%>"><button type="button" name="button">View Details</button></a>
            <form class="" action="/wines/<%= user.savedWines[i]._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete Entry</button>
            </form>
            <%}%>

        <div class="">
        <a href="/">Back to Homepage</a>
        </div>

    </body>
</html>
